@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0C0C0C;
    --foreground: #E5E5E5;
    --accent: #007BFF;
    --secondary: #333333;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .form-textarea {
    @apply w-full rounded-xl border border-white/20 bg-white/5 px-4 text-sm text-foreground placeholder:text-slate-400 focus:border-accent focus:outline-none focus:ring-2 focus:ring-accent/20;
  }
}

@layer utilities {
  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }
  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
